body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
}
p {
    color: #222222;
}

.foto {
    border-width: 3px;
    border-color: #FFFFFF;
    border-radius: 50%;
    border-right-style: solid;
    border-left-style: solid;
   /* margin-top: 30px;
    margin-left: 40%;
   */ 
   margin: 30px 30px 30px 30px;
}